.shop-collection {
    padding-bottom: 100px;
}

.shop-collection-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.shop-collection-contents {
    display: grid;
    grid-template-columns: 180px 1fr;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}
